# Execute a Db2 REST Service

This is an example of calling the getorderinfo service created in another notebook in this folder.  

Execution of a service reqluires a authorization token.  The token is generated by another notebook in this folder.  You just need to copy the token created by the other notebook and paste it in this one.  

Each endpoint is associated with a single SQL statement. Authenticated users of web, mobile, or cloud applications can use these REST endpoints from any REST HTTP client without having to install any Db2 drivers.

The Db2 REST server accepts an HTTP request, processes the request body, and returns results in JavaScript Object Notation (JSON).  

This notebook is used as example for the db2Dean article for http://www.db2dean.com/Previous/db2RESTsecurity.html

You can find more information about this service at: https://www.ibm.com/support/producthub/db2/docs/content/SSEPGG_11.5.0/com.ibm.db2.luw.admin.rest.doc/doc/c_rest.html.

## Finding the Db2 RESTful Endpoint Service API Documentation
The APIs used in this notebook are documented in the container for the endpoint.  If you are running a browser on the host containing the container, you can view the documentation using "localhost" host name.  If that is your case then you can view the documentaiton by pasting this  URL into your browser:  https://localhost:50050/docs  Otherwise, you would substitute the remote IP or host name if the container is on another host.  You would also change https to http if you are running the service in http mode.

## Import the required programming libraries
The requests library is the minimum required by Python to construct RESTful service calls. The Pandas library is used to format and manipulate JSON result sets as tables.

In [1]:
import requests
import pandas as pd

## RESTful Host
The next part defines where the request is sent to. It provides the location of the RESTful service for our calls.  In my case I was running this notebook on the same machine as the REST Endpoint container was running.  If you are on a different host you would need to replace "localhost" with the actual host name or IP.  Also if you are running your service as https, you would need to change http to https.

In [2]:
# Any Location
Db2RESTful = "http://localhost:50050"

## Authentication
The standard header for all subsequent calls will use this format. It includes the access token.  The token is generated in the token creation notebook in this folder and I used copy/paste to add it here manually.  I would expect that for a production system you would automate the token creation and passing to the applications.

In [3]:
headers = {
  "authorization": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJhZG1pbiI6ZmFsc2UsImNsaWVudF9pZCI6IjNjMzYyYzU0LWE4YzctNDQyOS1iNzY4LTQ1ZmE0ZGNjYjdmMyIsImV4cCI6MTY1NzA0MzIyMCwiaXNzIjoic2VydmljZV91c2VyMSJ9.R-rmdv5gp905zLx5eBGNbkAi5XiaoFcgQsTHkbYNETjMSIL7NB4r1UBRNfl0C9E-LipcxYWjwKEXfDjJzP6jFzjyf5dLn003PXu1IqpWmeUBfVbS78JCW06HWnELXp9lIm87EeuPNuLKeAPg-WjI0Y6zHxtjB_It_w3IRTY2DouLkgqAxKd4TOMBwL5Se8WU7fImTTgGPvz8lGRmbC8eyY-M1M_hg0SPMNBKN4h00PiPFfZJHgw5IJG9ta1HI58OXKcnuTJ1-VluL8ZmC2hMdfOEuvjsKK25D1Gpwt04EsCMrq66IoAOTGsD5Ih-9ndClZJvH42YbWGkBBzI2fyrag",
  "content-type": "application/json"
}

In [4]:
print(headers)

{'authorization': 'eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJhZG1pbiI6ZmFsc2UsImNsaWVudF9pZCI6IjNjMzYyYzU0LWE4YzctNDQyOS1iNzY4LTQ1ZmE0ZGNjYjdmMyIsImV4cCI6MTY1NzA0MzIyMCwiaXNzIjoic2VydmljZV91c2VyMSJ9.R-rmdv5gp905zLx5eBGNbkAi5XiaoFcgQsTHkbYNETjMSIL7NB4r1UBRNfl0C9E-LipcxYWjwKEXfDjJzP6jFzjyf5dLn003PXu1IqpWmeUBfVbS78JCW06HWnELXp9lIm87EeuPNuLKeAPg-WjI0Y6zHxtjB_It_w3IRTY2DouLkgqAxKd4TOMBwL5Se8WU7fImTTgGPvz8lGRmbC8eyY-M1M_hg0SPMNBKN4h00PiPFfZJHgw5IJG9ta1HI58OXKcnuTJ1-VluL8ZmC2hMdfOEuvjsKK25D1Gpwt04EsCMrq66IoAOTGsD5Ih-9ndClZJvH42YbWGkBBzI2fyrag', 'content-type': 'application/json'}

## Call the new getorderinfo RESTful Service
Call the getorderinfo service and return the query results.  Note that the service expects two input variable that are provide in this call.

In [5]:
API_runrest = "/v1/services/getorderinfo/1.0"

In [6]:
retailer = "%Sports%"
minprice = 10.2
body = {
  "parameters": {
    "@RETAILER": retailer,
    "@PRICE": minprice
  },
  "sync": True
}

In [7]:
try:
    response = requests.post("{}{}".format(Db2RESTful,API_runrest), headers=headers, json=body)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

A response of 200 indicates a successful service call.

In [8]:
print(response)

<Response [200]>

You can now retrieve the result set, convert it into a Dataframe and display the table.

In [9]:
print(response.json())
display(pd.DataFrame(response.json()['resultSet']))

{'jobStatus': 4, 'jobStatusDescription': 'Job is complete', 'resultSet': [{'ORDER_DATE': '2005-06-10T00:00:00Z', 'ORDER_NUMBER': 814213, 'PRODUCT_NUMBER': 148110, 'QUANTITY': 288, 'RETAILER_NAME': 'Maximum Sports'}, {'ORDER_DATE': '2006-03-17T00:00:00Z', 'ORDER_NUMBER': 830280, 'PRODUCT_NUMBER': 144180, 'QUANTITY': 16, 'RETAILER_NAME': 'The World of Sports'}], 'rowCount': 2}

,ORDER_DATE,ORDER_NUMBER,PRODUCT_NUMBER,QUANTITY,RETAILER_NAME
0,2005-06-10T00:00:00Z,814213,148110,288,Maximum Sports
1,2006-03-17T00:00:00Z,830280,144180,16,The World of Sports

## List Available Services
You can also list all the user defined services you have access to

In [10]:
API_listrest = "/v1/services"

In [11]:
try:
    response = requests.get("{}{}".format(Db2RESTful,API_listrest), headers=headers)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [12]:
display(pd.DataFrame(response.json()['Db2Services']))

,lastModified,serviceCreator,serviceDescription,serviceName,serviceUpdater,version
0,2022-07-05T17:35:18.350315Z,service_admin1,Select order and order details information,getorderinfo,service_admin1,1.0

## Retreive Service Details
As a developer, you need to know the information about how to call the service and what it returns.  You can query each service to see its details, including authoritization, input parameters and output results. You need to have select access to all of the objects in the database or this command will fail.

In [13]:
API_listrest = "/v1/services/getorderinfo/1.0"

In [14]:
try:
    response = requests.get("{}{}".format(Db2RESTful,API_listrest), headers=headers)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [15]:
print(response.json())

{'grantees': {'groups': None, 'roles': [{'grantee': 'SERVICE_USER', 'withGrantOption': False}], 'users': [{'grantee': 'SERVICE_ADMIN1', 'withGrantOption': True}]}, 'inputParameters': [{'length': 150, 'mode': 'IN', 'name': '@RETAILER', 'scale': 0, 'type': 'VARCHAR'}, {'length': 19, 'mode': 'IN', 'name': '@PRICE', 'scale': 2, 'type': 'DECIMAL'}], 'lastModified': '2022-07-05T17:35:18.350315Z', 'procName': 'REST_GETORDERINFO_1_0', 'procSchema': 'REST_SERVICES', 'resultSetFields': [{'jsonType': 'integer', 'length': 4, 'name': 'ORDER_NUMBER', 'scale': 0, 'type': 'INTEGER'}, {'jsonType': 'string', 'length': 150, 'name': 'RETAILER_NAME', 'scale': 0, 'type': 'VARCHAR'}, {'jsonType': 'string', 'length': 26, 'name': 'ORDER_DATE', 'scale': 0, 'type': 'TIMESTAMP'}, {'jsonType': 'integer', 'length': 4, 'name': 'PRODUCT_NUMBER', 'scale': 0, 'type': 'INTEGER'}, {'jsonType': 'integer', 'length': 4, 'name': 'QUANTITY', 'scale': 0, 'type': 'INTEGER'}], 'serviceCreator': 'service_admin1', 'serviceDescription': 'Select order and order details information', 'serviceName': 'getorderinfo', 'serviceUpdater': 'service_admin1', 'version': '1.0'}

In [16]:
print("Service Details:")
print("Service Name: " + response.json()['serviceName'])
print("Service Version: " + response.json()['version'])
print("Service Description: " + response.json()['serviceDescription'])
print("Service Creator: " + response.json()['serviceCreator'])
print("Service Updater: " + response.json()['serviceUpdater'])


print('Users:')
display(pd.DataFrame(response.json()['grantees']['users']))
print('Groups:')
display(pd.DataFrame(response.json()['grantees']['groups']))
print('Roles:')
display(pd.DataFrame(response.json()['grantees']['roles']))

print('')
print('Input Parameters:')
display(pd.DataFrame(response.json()['inputParameters']))

print('Result Set Fields:')
display(pd.DataFrame(response.json()['resultSetFields']))

Service Details:
Service Name: getorderinfo
Service Version: 1.0
Service Description: Select order and order details information
Service Creator: service_admin1
Service Updater: service_admin1
Users:

          grantee  withGrantOption
0  SERVICE_ADMIN1             True

Groups:

Empty DataFrame
Columns: []
Index: []

Roles:

        grantee  withGrantOption
0  SERVICE_USER            False

Input Parameters:

   length mode       name  scale     type
0     150   IN  @RETAILER      0  VARCHAR
1      19   IN     @PRICE      2  DECIMAL

Result Set Fields:

  jsonType  length            name  scale       type
0  integer       4    ORDER_NUMBER      0    INTEGER
1   string     150   RETAILER_NAME      0    VARCHAR
2   string      26      ORDER_DATE      0  TIMESTAMP
3  integer       4  PRODUCT_NUMBER      0    INTEGER
4  integer       4        QUANTITY      0    INTEGER